input {
  width: 90% !important;
  margin-left: 5%;
  margin-bottom: 8px;
}

select {
  width: 90% !important;
  margin-left: 5%;
  margin-bottom: 8px;
}

textarea {
  width: 90% !important;
  margin-left: 5%;
  margin-bottom: 8px;
}

nav div a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 2%;
}

nav div p {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline;
}

@media (max-width: 775px) {
  nav div p {
    display: none;
  }
}

@media (max-width: 775px) {
  nav div a {
    padding: 5%;
    font-size: 1.5rem;
  }
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #2685D9 10%, #519DE1 100%);
  background-size: cover;
}

input{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 8px;
}

.form-label{
  margin-left: 5%;
}


input[type=file]{
  margin-left: 0;
  margin-top: 5px;
}

#preview-buttons{
  margin:10px 0px;
  
}

#preview-buttons > button{
  margin:5px;
  
}
#half-size-preview{
  display: none;
}

#quarter-size-preview{
  display: none;
}
#full-size-preview{
  display: none;
}

@media (min-width: 640px){
  #half-size-preview{
    display: inline;
  }
}

@media (min-width: 580px){
  #quarter-size-preview{
    display: inline;
  }
  #full-size-preview{
    display: inline
  }
}